<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
*  List popular languages for Data Science
*  List libraries for Data Scientists
*  Data Science Tools
*  Simple arithmetic expression
*  Convert minutes to hours

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C
4. SQL
5. Julia
6. Java
7. Go

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow
5. PyTorch

|Data Science Tools|
----------
|MySQL|
|Cassandra|
|PostgreSQL|
|Jupyter Notebooks|
|Spyder|
|Orange|
|RSTudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression tomutiply then add integers
(3*4)+5

17

In [6]:
# His will convert 200 minutes to hours bydiving by 60
200//60

3

## Autor
Lizy Kyara